
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
  background-color: rgb(34, 34, 34);
  overflow-x: hidden;
}

body {
  margin-left: 2vw;
}

.top-bar {
  position: relative;
  top: 1.75vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin: 0%;
}

div {
  border: 0.5px solid rgb(255, 255, 255);
  max-width: 325px; 
}

.pixel:hover {
  background-color: rgb(255, 5, 5);
}

.grid-container {

  display: grid;
  width: 260px;
  height: 240px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 2px solid rgb(255, 255, 255);
}


.characters {
  margin-top: 5vh;
  margin-left: 4vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: none;
  transition: all .2s ease-in-out;
}

.characters:hover { transform: scale(1.1); }

.all-characters {
  align-items: center;
  position: relative;
  top: -6vh;
  display: flex;
  padding: 3vw;
  flex-direction: row;
  gap: 30px;
  overflow-x: scroll;
  min-width: 100%;
  min-height: 100%;
  border: none;
}

h2 {
  font-size: 10pt;
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 20pt;
  margin: 0;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 7pt;
  font-family: 'Open Sans', sans-serif;
  
}

h1:hover {
  background-color: gray;
}

.line1 { width:100%; height:0.5px; background: #fff; position: relative; top: 3vh;}

.line2 { width:100%; height:0.5px; background: #fff; position: relative; top: 24vh;}

.bottom-bar {
  position: relative;
  top: 25vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  gap: 10px;
  width: 100%;
  margin: 0%;
}

.background-screen {
  width: 100vw;
  height: 100vh;
  opacity: 0.75;
  background: black;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.show-info {
  z-index: 999;
}

.show-info .text {
  display: block;
}

.show-info img,
.show-info:hover img {
  transform: scale(1.5);
}

